<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="backImage" >
<form action="/artist-search" method="GET">
    <input type="text" name="theArtist" placeholder="The Beatles">
    <button type="submit">Search for the artist</button>
</form>

</body>
</html>